{% extends "base.html" %}

{% block content %}

<div class = "right-side">
	<div class = "title">Expand the functionality of your NXT controller with Trinfactor III.</div>

	<div class = "subtitle">Connect upto 32 analog sensor with your single NXT board. Supports all kind of analog sensors. </div>
</div>

<div class = "right-side" style = "padding-top: 15px; padding-bottom: 15px;">
        <div class = "mainphoto"><img src="/images/trinfactor3.jpg" id='display_image'></div>
        <div class = "photodes"><span style = "font-size: 18px; color:#006699; font-weight: bold;">Product</span><br><br>
        	<span style = "font-size : 13.5px; color: black; text-align: justify;">
        	Trinfactor III is a sensor multiplexing board developed for LEGO NXT. It was designed by students in Trinity College Robot Study Team. The board allows users to connect eight different analog sensors to each I2C port of NXT. Any kind of analog sensors like Sharp sensors, photo sensors, stripe sensor can be connected to the board. The onboard battery helps you conserve NXT battery. The Product is thoroughly tested and can be easily used with LabVIEW. </span>
        	<br>
        	<br>
        <span style = "font-size: 18px; color:#006699; font-weight: bold;">Purchase</span><br><br>
        	<span style = "font-size : 13.5px; color: black; text-align: justify;">
        	We do not have many board in stock. We will go ahead and produce more boards once we get about 100 orders. Manufacturing these boards in bulk will make them more affordable. Please signup to pre-order the board. We will email you once the boards are manufactured. The final cost might be somewhere between $50-$70. If you want to manufacture the board yourself, please refer to the firmware and hardware pages.</span>
        	<br>
        </div>
</div>

{% endblock %}
