{% extends "base.html" %}
{% block content %}
<div class="right-side">
   <span class = "heading">Hardware</span>
    <br>
    <br>
    <br>
    <span class = "des_text">Trinfactor III circuit was built using PCB artist. It consists of eight analog sensor ports, one I2C port, two indicator LEDs. A DCDC converter is included to constantly feed 5V to the microcontroller. NFET is used to control the power sent to the sensors. A programming header is included that can be used should any changes in the firmware be made. The device uses 3 AA batteries and does not drain battery from the NXT. A body cover is designed for the product and its design can be downloaded from the website, but most likely will not be included in the product that we will sell. Finally, PCB Artist needs to used to open PCB and Schematic files.</span>
    <hr>
    <span class = "red">Please feel free to use the CAD design file in any way you want.</span>
    <span class = "des_text">If you have any questions or comments please check the FAQ section, or the contact page. We will try our best to answer you.</span>
    <hr>
    <br>
    <span class = "des_text">
        Download links:   
    <a href="/static/images/PCB_design.zip" target="_blank">PCB Design files</a> | <a href="/static/images/Component_list.zip" target="_blank"> Component list and datasheet</a></span>
</div>
{% endblock %}
